<h1><%= t "supervisor.course.new.new_course" %></h1>

<%= render "form" %>
</br>
<%= link_to t(". show"), supervisor_courses_path(@course), class: "btn btn-primary" %> |
<%= link_to t(". back"), supervisor_courses_path, class: "btn btn-primary" %>
