<h1><%= t "supervisor.subject.new.new_subject" %></h1>

<%= render "form" %>
</br>
<%= link_to t(". show"), supervisor_subjects_path(@subject), class: "btn btn-primary" %> |
<%= link_to t(". back"), supervisor_subjects_path, class: "btn btn-primary" %>
